{% extends 'base.html' %}
{% block content %}
<div id="loading"></div>
<div class="search-container" id="content">
    <h1>Playlist Genie</h1>
    <p>🥳Enter a phrase - Get a playlist🥳</p>
    <form action="/thread" method="post">
        <input type="text" name="text" placeholder="heaven when i held you again...">
        <br>
        <button type="submit" onclick="loading()">Search</button>
    </form>
    <!-- <h2>combined word</h2>
    <form action="/search" method="post">
        <input type="text" name="text" placeholder="Search for a song...">
        <button type="submit">Search</button>
    </form>
    <h2>test threading</h2>
    <form action="/thread" method="post">
        <input type="text" name="text" placeholder="Search for a song...">
        <button type="submit">Search</button>
    </form> -->
</div>
<script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
// ]]></script>
{% endblock %}
